body {
    margin: 0;

    font-family: "Roboto", Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #000000;
    text-transform: uppercase;

    background-color: #ffffff;
}

.container-catalog {
    text-transform: none;
}

a {
    text-decoration: none;
    color: #000000;
    margin: 0;
    padding: 0;
}

.main-navigation {
    font-size: 16px;
    line-height: 30px;
    font-weight: 500;
    color: #000000;
    background-color: #eeeeee;
}

.site-navigation,
.user-navigation {
    list-style: none;
}

.site-navigation a,
.user-navigation a {
    color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
    color: #fb565a;
}

.site-navigation a:active,
.user-navigation a:active {
    text-decoration: underline;
    text-decoration-color: #fb565a;
    color: #000000;
}

.slides-switches,
.advantages-list,
.clients-list {
    list-style: none;
}

.slides {
    background-color: #eeeeee;
}

.advantages-item {
    text-align: left;
}

.advantages h3 {
    font-size: 24px;
    line-height: 30px;
}

.advantages {
    border-bottom: #000000;
}

.button {
    font: inherit;
    background-color: #fb565a;
    text-align: center;
    color: #ffffff;
    vertical-align: middle;
    text-transform: uppercase;
    border: none;
    width: 260px;
    height: 50px;
}

.advantages-list a,
.map a {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    width: 160px;
    height: 50px;
}

.map a {
    width: 219px;
}

.advantages-button-web {
    background-color: #fb565a;
}

.advantages-button-web:hover {
    background-color: #e74246;
}

.advantages-button-web:active {
    background-color: #d7373b;
}

.advantages-button-app {
    background-color: #00ca74;
}

.advantages-button-app:hover {
    background-color: #00bc6c;
}

.advantages-button-app:active {
    background-color: #00aa62;
}

.advantages-button-presentation {
    background-color: #efc849;
}

.advantages-button-presentation:hover {
    background-color: #eab534;
}

.advantages-button-presentation:active {
    background-color: #e5a722;
}

.button:hover,
.button:focus {
    background-color: #e74246;
}

.button:active {
    background-color: #d7373b;
}

.button:active,
.advantages-button:active {
    color: rgba(255, 255, 255, 0.3);
}

.filter-button {
    color: #000000;
    background-color: #eeeeee;
}

.filter-button:hover,
.filter-button:focus {

    background-color: #dfdfdf;
}

.filter-button:active {
    color: rgba(0, 1, 1, 0.1);
    background-color: #d5d5d5;
}

.about p,
.advantages-item p,
.order-item,
.benefit-list td,
.contactus-item {
    text-transform: none;
    color: #283136;
}

.benefit-list th {
    font-size: 45px;
}

.percent {
    font-size: 50%;
    vertical-align: super;
}

.clients {
    border-top: #000000;
    border-bottom: #000000;
}

.clients-item {
     opacity: 0.2;
}

.clients-item:hover, 
.clients-item:focus {
    opacity: 1;
}

.clients-item:active {
    opacity: 0.1;
}

.contact-us-address,
.contact-us-tel {
    text-transform: none;
    color: #666666;
}

.promo-slogan{
    text-transform: none;
    font-size: 36px;
}

.promo-discount {
    text-transform: none;
    color: #444444;
}

.contactus h2 {
    text-transform: none;
}

.contactus-item input {
    border-color: #d7dcde;
}

.contactus-item input:hover {
    border-color: #b4b9bb;
}

.contactus-item input:focus {
    border-color: #000000;
}

.contactus-item input:invalid {
    border-color: #e74246
}

.modal {
    color: #000000;

    background-color: #f8f3f0;
    background-position: 0 0;
    background-repeat: repeat;
}

.modal h2 {
    font-size: 45px;
    line-height: 45px;
    text-align: left;
}

.page-title {
    font-size: 55px;
    line-height: 55px;
    background-color: #eeeeee;
}

.filter fieldset {
    border: none;
}

.filter legend {
    font-size: 18px;
    line-height: 30px;
}

.filter ul {
    list-style: none;
    line-height: 20px;
}

.filter-input:hover + label,
.filter-input:focus + label {
    color: #283136;
}

.filter-input:disabled + label {
    color: #283136;

    opacity: 0.3;
}

.radio-label,
.checkbox-label,
.product-description {
    color: #283136;
}

.catalog-list {
    list-style: none;
}

.catalog-item {
    background-color: transparent;
}

.catalog-item:hover {
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2);
}

.catalog-item p {
    color: #666666;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
}

.catalog-item h3 {
    text-transform: uppercase;
    font-size: 17.5px;
    line-height: 30px;
    font-style: bold;
    text-align: center;
}

.catalog-item .button {
    width: 200px;
}

.catalog-browser {
    background-image: url("../img/browser.svg");
    width: 360px;
    height: 40px;
}

.catalog-browser:active {
    opacity: 0.12; 
}

.pagination-item a {
  color: #000000;

  background-color: #eeeeee;
}

.pagination-item a:hover,
.pagination-item a:focus {
    background-color: #dfdfdf;
}

.pagination-item a:active {
    background-color: #d5d5d5;
}

.pagination-item-current a {
    color: #000000;

    background-color: #ffffff;
}

.pagination-item-current a:hover,
.pagination-item-current a:focus,
.pagination-item-current a:active {
    color: #000000;
    border: 3px solid #dbdbdb;
    background-color: #ffffff;
}    