html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    
    font-family: "Roboto", Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    color: #000000;
    text-transform: uppercase;

    background-color: #ffffff;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;

    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container-catalog {
    text-transform: none;
}

a {
    text-decoration: none;
    color: #000000;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    height: auto;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.main-header {
    background: #eeeeee;
    padding-top: 52px;
}

.main-navigation {
    display: flex;
    flex: 1 1 auto;
    font-size: 16px;
    line-height: 30px;
    font-weight: 500;
    color: #000000;
    background-color: #eeeeee;
    align-items: center;
}

.main-wrapper {
    display: flex;
    margin-left: auto;
}

.site-navigation {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    list-style: none;
    min-width: 675px;
}

.user-navigation {
    display: flex;
    padding: 0;
    list-style: none;
}

.site-navigation a,
.user-navigation a {
    display: block;
}

.main-cart {
    position: relative;
    padding-left: 48px;
}

.main-cart::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 18px;
    left: 6px;
    top: 7px;
    background-image: url("../img/cart-icon.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    opacity: 0.35;
}

.site-navigation li {
    margin-right: 46px;
}

.site-navigation {
    max-width: 725px;
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
    color: #fb565a;
}

.site-navigation a:active,
.user-navigation a:active {
    color: rgba(0, 0, 0, 0.3);
}

.site-navigation-current a {
    display: inline-block;
    border-bottom: 2px solid #fb565a;
    padding-bottom: 2px;
    text-decoration: none;
}

.main-header-logo:hover,
.main-header-logo:focus {
    opacity: 0.8;
}

.main-header-logo:active {
    opacity: 0.3;
}

.advantages-list,
.clients-list {
    list-style: none;
}

.advantages-list {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    margin-right: 60px;
    margin-top: 80px;
}

.advantages {
    padding-bottom: 95px;
    border-bottom: 2px solid #f4f4f4;
}

.advantages-item {
    text-align: left;
    width: 300px;
}

.advantages h3 {
    font-size: 24px;
    line-height: 30px;
    margin: 17px 0;
}

.advantages-item p {
    margin-bottom: 44px;
    margin-right: 20px;
}

.advantages-list a {
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    padding: 15.5px 55px;
    border-radius: 3px;
}

/**  Кнопки - Buttons */

.button {
    font: inherit;
    background-color: #fb565a;
    color: #ffffff;
    text-transform: uppercase;
    border: none;
    padding: 13px 84px;
    border-radius: 3px;
}

.button:hover,
.button:focus {
    background-color: #e74246;
}

.button:active {
    background-color: #d7373b;
}

.advantages-list a {
    padding: 15.5px 40px;
}

.red {
    background-color: #fb565a;
}

.red:hover {
    background-color: #e74246;
}

.red:active {
    background-color: #d7373b;
}

.green {
    background-color: #00ca74;
}

.green:hover {
    background-color: #00bc6c;
}

.green:active {
    background-color: #00aa62;
}

.yellow {
    background-color: #efc849;
}

.yellow:hover {
    background-color: #eab534;
}

.yellow:active {
    background-color: #e5a722;
}

.button:active,
.advantages-button:active {
    color: rgba(255, 255, 255, 0.3);
}

.filter-button {
    color: #000000;
    background-color: #eeeeee;
    padding: 13px 89px;
    margin: 10px 0;
}

.filter-button:hover,
.filter-button:focus {
    background-color: #dfdfdf;
}

.filter-button:active {
    color: rgba(0, 1, 1, 0.1);
    background-color: #d5d5d5;
}

.product-button {
    display: flex;
    margin: 0 auto;
}

.about p,
.advantages-item p,
.slide p,
.order-item,
.benefit-list td,
.contactus-item {
    text-transform: none;
    color: #283136;
}

.index-columns .wrapper {
    display: flex;
}

.index-columns {
    margin: 40px 0 58px 0;
}

.about {
    max-width: 660px;
    padding-top: 33px;
    margin-right: 140px
}

.order-list {
    list-style: none;
    padding: 0 38px;
}

.order-list li::before {
    content: "";
    display: inline-block;
    width: 25px;
    height: 2px;
    background-color: #fc8e91;
    margin: 0 11px 4px -37px;
}

.about b {
    font-size: 45px;
    font-weight: 500;
    text-transform: none;
    text-align: left;
    line-height: 45px;
}

.about p {
    margin-bottom: 38px;
    margin-top: 33px;
}

.order-list li {
    margin-top: 24px;
}

.benefit {
    max-width: 360px;
}

.benefit-list th {
    font-size: 45px;
}

.benefit h4 {
    margin: 28px 15px;
}

.benefit-list th,
.benefit-list td {
    padding: 12px 12px;
    text-align: left;
}

.benefit-list th:first-child,
.benefit-list td:first-child {
    padding: 0;
}

.benefit-list td {
    line-height: normal;
}

.percent {
    font-size: 60%;
    vertical-align: super;
}

.clients-list {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #f4f4f4;
    border-top: 2px solid #f4f4f4;
    padding: 0;
    margin: 0;
    margin-bottom: 80px;
}

.clients-item {
    opacity: 0.2;
    width: 260px;
    height: 180px;
    position: relative;
}

.clients-item::after {
    content: "";
    top: 63px;
    left: 280px;
    width: 2px;
    height: 52px;
    background-color: #000000;
    position: absolute;
}

.clients-item:nth-last-child(1)::after {
    display: none;
}

.clients-item:hover, 
.clients-item:focus {
    opacity: 1;
}

.clients-item:active {
    opacity: 0.1;
}

.map-wrapper {
    position: relative;
}

.contact {
    position: absolute;
    top: 53px;
    left: 60px;
    width: 319px;
    min-height: 308px;
    background-color: #ffffff;
    z-index: 2;
    padding: 39px 50px;
}

.contact-title {
    text-transform: uppercase;
    line-height: 31.5px;
    font-size: 17.5px;
    margin-bottom: 22px;
    margin-top: 10px;
}

.contact-address,
.contact-tel {
    text-transform: none;
    color: #666666;
}

.contact-address {
    line-height: 1.125;
}

.contact-button {
    display: block;
    margin-top: 35px;
    padding: 13px 44px;
}

/**  Modal */





.modal {
    position: fixed;
    color: #000000;
    
    box-shadow: 0px 20px 40px 0 rgba(0, 1, 1, 0.75);
    background-color: #ffffff;
}

.modal-contactus {
      top: 10px;
      left: 50%;
      margin-left: -480px;

    display: none;
    
      width: 960px;
      height: 590px;
      padding: 68px 100px; 
}

.modal-close {
    position: absolute;
    top: 78px;
    right: 90px;

    width: 21px;
    height: 21px;

    font-size: 0;
    cursor: pointer;
}

.modal-close:hover::before,
.modal-close:hover::after {
    opacity: 1;
}

.modal-close:active::before,
.modal-close:active::after {
    opacity: 0.1;
}

.modal-close::before,
.modal-close::after {
    content: "";
    
    position: absolute;
    top: -2px;
    left: 9px;
    
    
    height: 25px;
    width: 3px;
    background-color: #fb565a;
    opacity: 0.3;
}

.modal-close::before {
    transform: rotate(45deg);
}
.modal-close::after {
    transform: rotate(-45deg);
}


.modal-show {
    display: block;
    
    animation: bounce 0.6s;
}

.modal h2 {
    font-size: 45px;
    line-height: 45px;
    text-align: left;
    text-transform: none;
    font-weight: 500;
    margin: 0;
    margin-bottom: 7px;
    
}

.contactus-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.contactus-item {
    margin: 0;
}

.contactus-form input[type="text"] {
    font: inherit;
    color: #000000;
}

.contactus-item input {
    border-color: 2px solid #d7dcde;
}

.contactus-item input:hover {
    border-color: #b4b9bb;
}

.contactus-item input:focus {
    border-color: #000000;
}

.contactus-item input:invalid {
    border-color: #e74246
}

.contactus-item label {
    display: block;
    margin-top: 31px;
    margin-bottom: 7px;
    font-weight: bold;;
}

.contactus-item input {
    width: 360px;
    min-height: 50px;
    border: 2px solid #d7dcde;
    border-radius: 3px;
    padding: 0 15px;
}

.contactus-item textarea {
    width: 760px;
    min-height: 116px;
    padding: 13px;
}

.contactus-button {
    margin-top: 40px;
}

/** Footer */

.main-footer {
    margin: 70px 0; 
}

.footer-social {
    min-width: 260px;
}

.footer-social ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    
    width: 320px;
    margin: 0 auto;
    padding: 0;
}

.social-btn {
    display: flex;
    align-items: center;
    justify-content:center;
    margin-right: 12px;
    
    background-color: #e1e1e1;
    width: 79px;
    height: 80px;
    border-radius: 50%; 
}
   
.social-btn:hover {
    background-color: #e74246;
}

.social-btn:active {
    background-color: #d7373b;
}

.social-btn svg:active {
    opacity: 0.3;
}

.promo-slogan{
    text-transform: none;
    font-size: 36px;
}

.promo-discount {
    text-transform: none;
    color: #444444;
}

.footer-promo {
    width: 560px;
    margin: 11px 0 0 80px;
}

.main-footer .container {
  display: flex;
}

.promo-discount {
line-height: 10px;
}

/** Slider */
.slider {
  position: relative;
  background-color: #eeeeee;
}

.slider-controls {
  position: absolute;
  left: 50%;
  bottom: 130px;
  z-index: 100;
  
  width: 160px;
  height: 18px;

  text-align: center;
  font-size: 0;
  transform: translateX(-50%);
}

.slider-controls label {
  position: relative;
  margin-right: 17px;
  display: inline-block;
  width: 18px;
  height: 18px;
  padding: 8px;
  
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls label::after {
  content: "";
  
  position: absolute;
  top: 2px;
  left: 8px;
  z-index: 1;
  
  width: 18px;
  height: 18px;
  
  background: #ffffff;
  
  border-radius: 50%;
}

.slider-list {
  margin: 0;
  padding: 0;
  
  list-style: none;
}

.slider-item {
  display: none;
  padding:65px 0 93px 0;
}

.slider-item:nth-child(1) {
  background-image: url("../img/slide1.png");
  background-repeat: no-repeat;
  background-position: 99% -13px;
}

.slider-item:nth-child(2) {
  background-image: url("../img/slide2.png");
  background-repeat: no-repeat;
  background-position: 100% -12px;
}

.slider-item:nth-child(3) {
      background-image: url("../img/slide3.png");
      background-repeat: no-repeat;
      background-position: 100% -15px;
}

#product-1:checked ~ .slider-list .slider-item:nth-child(1) {
    display: block;
}

#product-2:checked ~ .slider-list .slider-item:nth-child(2) {
    display: block;
}

#product-3:checked ~ .slider-list .slider-item:nth-child(3) {
    display: block;
}

#product-1:checked ~ .slider-controls .slider-controls-item--1::before,
#product-2:checked ~ .slider-controls .slider-controls-item--2::before,
#product-3:checked ~ .slider-controls .slider-controls-item--3::before {
      content: "";
      position: absolute;
      left: 99%;
      top: 60%;
      z-index: 2;
      width: 8px;
      height: 8px;
      margin: -4px;
      background-color: inherit;
      border: 2px solid #c1c1c1;
      border-radius: 50%;
}

.slider-item h3 {
      max-width: 600px;
      margin: 0;
      margin-bottom: 27px;
      text-transform: none;
      font-size: 55px;
      line-height: 55px;
      font-weight: 500;
}

.slider-item p {
      max-width: 430px;
      margin: 0;
      margin-bottom: 52px;
      text-transform: none;
}

.slider-item-button {
    padding: 16px 55px;
}

.contact-us a {
    padding: 15px 50px;
}

.map {
    background-image: url("../img/map.jpg"); 
    position: relative;
    width: 1440px;
    height: 416px;
}

.map iframe {
    position: absolute;
}

/** Catalog - Filters */
.page-title {
    font-size: 55px;
    line-height: 55px;
    font-weight: 500;
    background-color: #eeeeee;
    text-align: center;
    margin: 0;
    padding: 66px 0 110px 0;
}

.checkbox-label {
    font: #286;
}

.filter fieldset {
    padding: 0;
    margin: 0;
    margin-bottom: 30px;
    
    border: none;
}

.filter fieldset:first-child {
    margin-bottom: 35px;
}

.filter legend {
    font-size: 18px;
    line-height: 30px;
    text-transform: uppercase;
    font-weight: bold;
}

.filter ul {
    list-style: none;
    line-height: 20px;
    padding: 0;
}

.filter-option {
    padding: 0 45px;
    
}

.filter-option label {
    position: relative;
    display: block;
    cursor: pointer;
    user-select: none;
}

.filter-input-checkbox:not(:checked) + label::before {
    content: "";
    position: absolute;
    left: -42px;
    top: 0;

    width: 27px;
    height: 23px;

    background-image: url("../img/checkbox-off.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    opacity: 0.4;
}

.filter-input-checkbox:not(:checked):hover + label:hover::before {
    opacity: 1;
}

.filter-input-checkbox:checked + label::after {
    content: "";

    position: absolute;
    left: -42px;
    top: 0;

    width: 27px;
    height: 23px;
    
    background-image: url("../img/checkbox-on.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    opacity: 0.4;
}

.filter-input-checkbox:checked:hover + label:hover::after {
    opacity: 1;
}

.filter-input-radio + label::before {
    content: "";
    position: absolute;
    left: -42px;
    top: -1px;

    width: 25px;
    height: 25px;
  
    border: 4px solid #000000;
    border-radius: 50%;
    opacity: 0.4;
}

.filter-input-radio:hover + label:hover::before {
    opacity: 1;
}

.filter-input-radio:checked + label::after {
    content: "";
    position: absolute;
    top: 7px;
    left: -34px;

    width: 9px;
    height: 9px;

    background-color: #000000;
    border-radius: 50%;
    opacity: 0.4;
}

.filter-input-radio:checked:hover + label:hover::after {
    opacity: 1;
}

.filter li {
    margin-bottom: 17px;
}

.filter-input:disabled + label {
    color: #283136;
    opacity: 0.3;
}

.radio-label,
.checkbox-label,
.product-description {
    color: #283136;
}

/** Sorting */

.page-wrapper {
    width: auto;
    text-transform: uppercase;
}

.sorting .container {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    margin-bottom: 18px;      
}

.sorting-title {
    list-style: none;
   
    font-size: 18px;
    font-weight: 700;
    padding: 0;
    margin-top: -5px;   
}

.sorting-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin-right: 24px;
    margin-left: auto;
    padding: 0;
}

.sorting-list a {
    font-size: 14px;
    line-height: 18px;
    margin-right: 25px;

    display: block;
   
    padding: 0;
}

.sorting-control {
    margin-top: 12px;
}

.sorting-list a,
.sorting-control a {
    opacity: 0.3;
}

.sorting-list a:hover,
.sorting-control a:hover {
    opacity: 0.6;
}

.sorting-list li a:active,
.sorting-list li .active,
.sorting-control a:active,
.sorting-control .active {
    opacity: 1;
}

.icon-up {
    display: inline-block;
    padding-left: 14px;
}

/** Catalog-items */
.catalog {
    max-width: 760px;
}

.catalog-columns {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}

.catalog-list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    margin-bottom: 25px;

    list-style: none;
}

.catalog-item {
    position: relative;
    width: 360px;
    margin-bottom: 27px;
    margin-right: 40px;
   
}

.catalog-item:nth-child(2n) {
    margin-right: 0;
}

.catalog-item:hover {
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2);
}

.catalog-browser {
    background-image: url("../img/browser.svg");
    width: 360px;
    height: 40px;
    opacity: 0.12; 
    position: relative;
}

.catalog-item-product {
    display: block;
    position: absolute;
    top: 62%;
    left: 50%;
    margin-left: -180px;
    
    width: 360px;
    height: 231px;
    opacity: 0;
    padding: 9px 30px;
    background-color: #eeeeee;
}

.catalog-wrapper:hover .catalog-item-product, 
.catalog-wrapper:hover .catalog-browser {
    opacity: 1;
}

.product-description {
    margin-bottom: 30px;
}

.catalog-item p {
    color: #666666;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    text-transform: none;
}

.catalog-item h3 {
    font-size: 17.5px;
    line-height: 30px;
    font-weight: bold;
    text-align: center;
}

.catalog-item .button {
    padding: 13px 60px;
}

.pagination-list {
    display: flex;
    flex-wrap: wrap;
  
    padding: 0;
    margin: 0;
    margin-bottom: 60px;

    list-style: none;
}

.pagination-item a {
    display: block;
    padding: 10px 18px;
    color: #000000;
    margin-right: 10px;
    background-color: #eeeeee;
    border: 3px solid #eeeeee;
}

.pagination-item:last-child {
    width: 260px;
    text-align: center;
}

.pagination-item a:hover,
.pagination-item a:focus {
    background-color: #dfdfdf;
    border: 3px solid #dfdfdf;
}

.pagination-item a:active {
    background-color: #d5d5d5;
    border: 3px solid #d5d5d5;
    color: rgba(0, 1, 1, 0.1);
}

.pagination-item-current a {
    color: #000000;

    background-color: #ffffff;
}

.pagination-item-current a:hover,
.pagination-item-current a:focus,
.pagination-item-current a:active {
    color: #000000;
    border: 3px solid #dbdbdb;
    background-color: #ffffff;
}    
